.lego {  
  position: relative;
  flex:1;
  top: 0;
  left: 0;
  height: 100px;
  border:solid 1px #ff801f;
  
}
.lego:before,
.lego:after {
  content: "";
  position: absolute;
}
.lego:before {
  top: 100%;
  left: 0;
  height: 60px;
  width: 100%;
  transform: skewX(45deg) translate(30px, 0);
}
.lego:after {
  height: 100px;
  width: 60px;
  top: 0;
  right: 0;
  transform: skewY(45deg) translate(60px, -30px);
}
.lego .circles {
  position: absolute;
  left: 50%;
  height: 30px;
  width: 30px;
  margin: -22.22222222px 0 0 -22.22222222px;
}
.lego .circles:before,
.lego .circles:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.lego .circles:before {
  left: -24.33px;
}
.lego .circles:after {
  right: -24.33px;
}
.lego .circles-1 {
  top: 25%;
}
.lego .circles-2 {
  top: 75%;
}
.lego-color {
  background-color: #ff9d52;
}
.lego-color:before {
  background-color: #ff801f;
}
.lego-color:after {
  background-color: #eb6600;
}
.lego-color .circles:before,
.lego-color .circles:after {
  background-color: #ff9d52;
  box-shadow: 6px 6px 0px 1px #eb6600;
}


.borderColor:{
   border:solid 1px #093A3E;
}
