.game {
  display:grid;
  border:none;
  height:100%;  
  justify-self: center;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas: 
    "TopMenu" 
    "Board"
    "ButtonRow";    
}

@media (min-width: 450px) {
  .game{
    width:450px;
  }
 }
 @media (max-width: 449px) {
  .game{
    width:95%;
  }
 }


 @media (min-height: 1000px) {
  .game{
    height: 1000px;
  }
 }


 