.topMenu{
  display:flex;
  flex-direction: row;  
  font-size: 40px;
  height:50px;
  justify-content: center;
}

.score {
  flex:1;
  flex-grow:4;
  text-align: left;
  padding-left: 10px;
  
}

.menuButtons {
  flex:1;
  display:flex;
  flex-direction: row;  
}

.menuButton {
  flex:1;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
}


@media (hover:hover) {
  .fa-refresh:hover {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
  }
}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }