.settings{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color:#AF4175;
  top:4.2%;
  width:100%;
  height:81%;
  z-index: 10; 
  font-size: 30px;
}

.boardSize{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
  
  
}
.colorScheme{
  display: flex;
  flex-direction: row;
  margin: 5%;
}
.difficulty{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;
}