.settings{
  position: absolute;
  display: grid;
  background-color:#AF4175;
  width:100%;
  height:100%;
  z-index: 10; 
  font-size: 25px;
  grid-template-columns: 1fr;
  text-align: center;
}

.columns{
  margin:20px;
}

.rows {
  display:grid;
  grid-template-columns: 1fr;
  width:90%;
}

